/*
    filename:style.css
    version :0.1.0
    author  :glamas
    date    :2016-07-2
    font-family: Georgia, Verdana, Arial, Helvetica, Times, "Times New Roman", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
 */

/* font */
html { 
    font-size: 16px;
}
body {
    font-size: 1em;
    margin: 0;
}
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: Verdana, Helvetica, Arial, Times, "Times New Roman", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.wrap {
  max-width: 1200px;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.tags-left {
  float:left;
  display: inline;
}
.content {
  float:left;
  display: inline;
}