<!DOCTYPE html>
<html>
<head>
<title>快速便签</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="zh-CN" />
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<meta name="Author" content="glamas" />
<meta name="Copyright" content="" />
<!-- <link href="./image/favicon.ico" rel="Shortcut Icon" /> -->
<link rel="stylesheet" type="text/css" href="./css/pure-min.css">
<link rel="stylesheet" type="text/css" href="./css/pure-extra.css" />
<link rel="stylesheet" type="text/css" href="./css/style.css" />
<!--[if lte IE 8]>
    <link rel="stylesheet" type="text/css" href="./css/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" type="text/css" href="./css/grids-responsive-min.css">
<![endif]-->
<!-- <script type="text/javascript" src="./js/function.js"></script> -->
<script type="text/javascript" src="./js/vue.js"></script>
<script type="text/javascript" src="./js/vue-resource.min.js"></script>
<script type="text/javascript">
window.onload = function(){
	Vue.config.devtools = true;
	new Vue({
	  el: '#app',
	  data: {
	    nav_time: "initial...",
	    search_button: "搜索",
	    search_keyword: "",
	    text_fact: "",
	    text_comment: ""
	  },

	  ready:function(){
      this.$http.get('./nav_time.php').then(function(response){
        this.$set('nav_time',response.data.nav_time);
      }, function(){
        alert("can't access the server");
      });
    },

    methods:{
      search:function(){
        alert(this.search_keyword);
      },
      textarea_resize:function(event){
      	var adjustedHeight = Math.max(event.target.scrollHeight,event.target.clientHeight);
      	if (adjustedHeight > event.target.clientHeight) {
      		event.target.style.height=adjustedHeight+'px';
      	};
      }
    },

    watch:{
    	'text_fact': function (val, oldVal){
    		// this.$els.text_fact.
    		// alert(this.$els.text_fact.className);
    	}
    },
	});
}
</script>
</head>
<body id="app" class="app">
<div class="pure-g">
	<div class="pure-u-1 menu-header-main">
		<div class="pure-menu pure-menu-horizontal">
			<ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">主页</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">个人信息</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">退出</a></li>
    	</ul>
		</div>
	</div>
</div>
<div class="pure-g">
	<div class="pure-u-1 gallery">
		here puts gallery
		放置心情,或者天气,或者最新条目
	</div>
</div>
<div class="pure-g layout center">
	<div class="pure-u-md-3-4 pure-u-1">
		<div class="pure-g mb-4">
			<div class="pure-u-1-6 pure-button buttom-search-prev">«</div>
			<div class="pure-u-2-3">
				<label class="pure-u-1 text-nav-time">{{ nav_time }}</label>
			</div>
			<div class="pure-u-1-6 pure-button buttom-search-next">»</div>
		</div>
		<div class="pure-form pure-g">
			<div class="pure-u-5-6">
				<input type="text" class="pure-u-1" placeholder="这里搜索" v-model="search_keyword">
			</div>
			<div class="pure-u-1-6">
				<button class="pure-u-1 pure-button buttom-search-main" v-on:click="search">{{ search_button }}</button>
			</div>
		</div>
		
		<div>
			<div class="note" data-id="1">
				<div class="record">first record</div>
				<div class="comment hide">yes</div>
			</div>
			<div class="note" data-id="2">
				<div class="record">first record</div>
				<div class="comment hide">yes</div>
			</div>
			<div class="note" data-id="3">
				<div class="record">first record</div>
				<div class="comment hide">yes</div>
			</div>
			<div class="note" data-id="4">
				<div class="record">first record</div>
				<div class="comment hide">yes</div>
			</div>
			<div class="note" data-id="5">
				<div class="record">first record</div>
				<div class="comment hide">yes</div>
			</div>
		</div>

		<form class="pure-form">
			<fieldset class="pure-group">
				<textarea class="pure-input-1 text-fact" name="text_fact" v-model="text_fact" v-on:input.stop="textarea_resize($event)">{{ text_fact }}</textarea>
				<textarea class="pure-input-1 text-comment" name="text_comment" v-model="text_comment" v-on:input.stop="textarea_resize($event)">{{ text_comment }}</textarea>
	    </fieldset>
	    <button type="submit" class="pure-input-1 pure-button pure-button-primary">Submit</button>
		</form>

	</div>


	<div class="pure-u-md-1-4 pure-u-1">
		<p>here puts calender</p>
	</div>
</div>
<!-- <div id="pop-editor" class="hide">
<div>
<textarea class="record-edit"></textarea>
<textarea class="comment-edit"></textarea>
</div>
</div> -->
<div class="qfooter">
	<div>here puts copyright</div>
</div>
</body>
</html>